html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    width: 1280px;
    margin: 0px auto;
    padding: 0;
    background-color: #efe9db;
}
h1,h2,h3,h4,h5,h6,p {
    color: #37322b;
}
.logo {
    width: 70%;
    margin: 20px 0 0 180px;
    display: inline-block;
}

h1 {
    color: #37322b;
    text-transform: uppercase;
    text-align: center;
    margin: -10px 0 -10px;
    font-weight: 700;
    font-size: 90px;
}

p.introduction {
    font-style: italic;
    text-align: center;
    font-size: 28px;
}

h2 {
    text-align: left;
}
p.about {
    text-align: left;
    font-size: 26px;
}

.country h2 {
    margin: 0 0 -45px 0;
}

.country h3 {
    text-transform: uppercase;
}

.questions {
    margin: -20px 0 0;
    font-size: 26px;
}

.country p{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.buttons {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin: 0 0 0 205px; 
}

.country {
    padding: 0 0 50px;
}

.buttons a { 
    text-decoration: none;
    color: #efe9db;
    background-color: #37322b;
    margin: 0 40px 0;
    padding: 15px 30px;
    border-radius: 40px;
    transition-duration: 0.5s;
}

.buttons a:hover {
    color: #37322b;
    background-color: #d6c59e;
    
}

.subtitle_finland { 
    display: inline-block;
    background-color: #37322b;
    border-radius: 45px;
    color: #efe9db;
    padding: 15px 35px;
    float: left;
    margin: 10px 0 0 270px;
}

.subtitle_china { 
    display: inline-block;
    background-color: #37322b;
    border-radius: 45px;
    color: #efe9db;
    padding: 15px 35px;
    float: left;
    margin: 10px 0 0 420px;
}

.subtitle_usa { 
    display: inline-block;
    background-color: #37322b;
    border-radius: 45px;
    color: #efe9db;
    padding: 15px 35px;
    float: left;
    margin: 10px 0 0 500px;
}

.finland p {
    float: left;
}

.finland {
    margin: 120px 0 0;
}

.finland a {
    float: right;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;  
    color: #efe9db;
    background-color: #37322b;
    padding: 15px 30px;
    border-radius: 40px;
    transition-duration: 0.5s;
}

.finland a:hover {
    color: #37322b;
    background-color: #d6c59e;
}